<!-- 
<!DOCTYPE html>
<html>
<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/login.css">
	<title></title>
</head>
<body>
	<div class="col-xs-12">
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
			<div class="container">
	        <div class="card card-container">

	            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
	            <p id="profile-name" class="profile-name-card"></p>
	            <form class="form-signin">
	                <span id="reauth-email" class="reauth-email"></span>
	                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
	                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
	                <div id="remember" class="checkbox">
	                    <label>
	                        <input type="checkbox" value="remember-me"> Remember me
	                    </label>
	                </div>
	                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
	            </form>
	            <a href="#" class="forgot-password">
	                Forgot the password?
	            </a>
	        </div>
	    	</div>
		</div>
		<div class="col-xs-4"></div>
	</div>
</body>
</html> -->
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<title>
		
	</title>
</head>
<body>
	<div class="materialContainer">


   <div class="box">

      <div class="title">LOGIN</div>

      <div class="input">
         <!-- <label for="name">Username</label> -->
         <input type="text" name="name" id="name" placeholder="Username">
         <span class="spin"></span>
      </div>

      <div class="input">
         <!-- <label for="pass">Password</label> -->
         <input type="password" name="pass" id="pass" placeholder="Password">
         <span class="spin"></span>
      </div>

      <div class="button login">
         <button><span>GO</span> <i class="fa fa-check"></i></button>
      </div>

      <a href="" class="pass-forgot">Forgot your password?</a>

   </div>

   <div class="overbox">
      <!-- <div class="material-button alt-2"><span class="shape"></span></div> -->

      <div class="title">REGISTER</div>

      <div class="input">
         <label for="regname">Username</label>
         <input type="text" name="regname" id="regname">
         <span class="spin"></span>
      </div>

      <div class="input">
         <label for="regpass">Password</label>
         <input type="password" name="regpass" id="regpass">
         <span class="spin"></span>
      </div>

      <div class="input">
         <label for="reregpass">Repeat Password</label>
         <input type="password" name="reregpass" id="reregpass">
         <span class="spin"></span>
      </div>

      <div class="button">
         <button><span>NEXT</span></button>
      </div>


   </div>

</div>
</body>
<script src="./js/login.js">
</html>