<html>
    <head>
        <title>Login | Counter Burger</title>
    </head>
    <body>
        <div class="container">
            <div class="login-form">
                <div class="main-div">
                    <div class="panel">
                        <h2>Login</h2>
                        <p>Please provide your credentials.</p>
                    </div>
                    <form action="http://127.0.0.1:3000/login" method="post" id="Login">
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                    <button type="submit" class="btn btn-primary">Login</button>        
                    </form>         
                </div>
            </div>
        </div>
    </body>
</html>




