
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="./images/favicon.png"/>
        <title>FoodFries</title>

        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="css/style.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">
        <link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="fonts/website-font/stylesheet.css" rel="stylesheet" type="text/css" />

        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/counterup.min.js" type="text/javascript"></script>
        <script src="js/waypoints.min.js" type="text/javascript"></script>
        <script src="js/custom.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="https://olocdn.global.ssl.fastly.net/img/thecounter/favicon.ico?6579"/>
         <link rel="stylesheet" type="text/css" media="screen" href="https://olocdn.global.ssl.fastly.net/css/thecounter/site-6579.css" />
         <link rel="stylesheet" type="text/css" href="./css/search.css">
         <script type="text/javascript" language="javascript" src="https://olocdn.global.ssl.fastly.net/js/jquery-1.12.4.min.js"></script> 
         <script>window.jQuery || document.write('<script src="/Scripts/jquery-1.12.4.min.js">\x3C/script>')</script>
    </head>
    <body>
        <section class="tv-paddingT100 tv-bgbanner" id="menu">
            <div class="container">
                <div class="row">
                    <div class="tv-block-heading">
                        <h5>Burger-Online</h5>
                        <h2>Restaurants</h2>
                    </div>
                </div>
               <div class="Column12">
                 <div id="ContentWrapper">
                    <div id="VendorSearchResults">
                       <div>
                          <div id="locationFilters" class="clearfix">
                             <div id="location-attribute-filters">
                             </div>
                          </div>
                          <table id="VendorList">
                             <tbody>
                                <tr>
                                   <th>Name</th>
                                   <th>Price</th>
                                   <th>Option</th>
                                </tr>
                                <% if (data !== undefined ) { %>
                                   <% data.forEach(function(data) { %>
                                      <tr class="vendor" data-hasdispatch="false">
                                         <td>
                                            <a class="order-action" href="https://order.thecounter.com/menu/">
                                            <strong><!--<%= data.name %>--></strong>
                                            </a>
                                            <div class="streetaddress">
                                            </div>
                                         </td>
                                         

                                         <td>
                                            <!--<%= data.price %><br>-->
                                            <br>
                                         </td>

                                         <td>
                                            <!-- <a href="/menu?id=<%= data.item_id %>" class="btn btn-default">Add to cart</a> -->
                                            <button class="vendor-action order-action add-cart" type="button" id="add_cart">Add to cart</button>
                                         </td>
                                      </tr>
                                   <% }); %>
                                <% } %>
                             </tbody>
                          </table>
                       </div>
                    </div>
                    <ul>
                    </ul>
                 </div>
               </div>
               <div class="Column3" id="scroller">
                 <div class="BasketViewContainer">
                   <div class="menu-basket-header clearfix">
                      <h2 class="pull-left">Order Contents</h2>
                   </div>
                   <ul id="BasketProducts">
                    <div id="add-remove" class="add-remove">
                      
                    </div>
                   </ul>
                   <div class="clearfix"></div>
                   <div id="BasketTotals" class="clearfix">
                      <dl class="summary">
                         <dt role="heading" aria-level="3">SUB TOTAL</dt>
                         <dd class="money">
                            $<span id="bSubTotal">0.00</span>
                         </dd>
                      </dl>
                   </div>
                   <script type="text/html" id="tax-row-tmpl">
                      <dl class="summary taxRow">
                          <dt role="heading" aria-level="3"></dt>
                          <dd class="money"></dd>
                      </dl>
                   </script>
                </div>
               </div>
            </div>
        </section>
        
        <a id="back-to-top" class="scrollTop tv-back-to-top" href="javascript:void(0);" style="display: none;">
            <i class="fa fa-caret-up" aria-hidden="true"></i>
        </a>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="./js/login.js"></script>
        <script type="text/javascript" src="js/wow.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>
